@model emlakdeneme.Models.Ilan

<h2>İlanı Düzenle</h2>

<form asp-action="Edit" asp-route-id="@Model.Id" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />

    <input asp-for="Baslik" class="form-control mb-2" />
    <input asp-for="Durum" class="form-control mb-2" />
    <input asp-for="Tip" class="form-control mb-2" />
    <input asp-for="Sehir" class="form-control mb-2" />
    <input asp-for="Semt" class="form-control mb-2" />
    <input asp-for="Mahalle" class="form-control mb-2" />
    <input asp-for="Fiyat" class="form-control mb-2" />
    <input asp-for="Metrekare" class="form-control mb-2" />
    <input asp-for="Oda" class="form-control mb-2" />
    <input asp-for="Resim" class="form-control mb-2" />

    <button type="submit" class="btn btn-warning">Güncelle</button>
</form>
